# Dependencias
node_modules/
.pnpm-store/

# Builds
dist/
build/
*.tsbuildinfo
packages/widget/public/widget.js*

# Entorno
.env
.env.local
*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Datos de la BD en local (volumen docker)
pgdata/
